<link rel="stylesheet" href="/css/inventory/management.css">
<h1><%- title %></h1>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
<% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
<%  }) %>
    </ul>
<% } %>
<a href="/inv/add-classification">Add New Classification</a>
<a href="/inv/add-inventory">Add New Vehicle</a>
<h2>Manage Classifications</h2>
<p>Edit or delete a classification. Deleting a classification will delete all inventory items in that classification group.</p>
<%- classificationManagement %>
<h2>Manage Inventory</h2>
<p>Select a classification to see inventory items belonging to the classification</p>
<%- classificationSelect %>
<table id="inventoryDisplay"></table>
<noscript>JavaScript must be enabled to use this page.</noscript>
<script src="../../js/inventory.js"></script>